body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#word-display
{
    font-size: 28px;
    margin: 20px 0;
}

#letter-buttons button{
    font-size: 10px;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
}